* {
background-color: bisque;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: auto;
    width: max-content;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}